DATABASE_URL=
ALPACA_CLIENT_ID=
ALPACA_CLIENT_SECRET=
ALPACA_OAUTH_REDIRECT_URI=http://localhost:3000/api/alpaca/callback
ALPACA_OAUTH_ENV=paper
ALPACA_OAUTH_SCOPES=trading data
APP_ENCRYPTION_KEY=
SESSION_COOKIE_NAME=robinhood_session
